body {
  background-color: #0D1117;
}

.App {
  height: 100vh;
  width: 100%;
  display: flex;
}

.helloword {
  display: flex;
  font-family: 'VT323', sans-serif;
  margin-left: 50px;
  margin-top: 50px;
  font-weight: 200;
  font-size: 16px;
}
